<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> <!-- Botão para voltar à página inicial -->
    </ion-buttons>
    <ion-title class="titulo">Pontos Turísticos</ion-title> <!-- Título da página -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card de introdução aos pontos turísticos -->
  <ion-card>
    <ion-card-content>
      <ion-text class="card-customizado">
        <p class="texto-customizado">
          A Póvoa de Varzim é uma cidade rica em história e cultura, com muitos pontos turísticos interessantes para visitar. 
          Aqui estão alguns dos principais pontos turísticos da cidade:
        </p>
      </ion-text>
    </ion-card-content> 
  </ion-card>

  <!-- Imagem do Casino da Póvoa -->
  <img class="small-card-img" src="assets/images/casino2.jpg" alt="Casino" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Casino da Póvoa</ion-card-title> <!-- Título do card -->
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Um dos principais pontos turísticos da cidade, 
          oferecendo uma variedade de jogos, entretenimento e restaurantes.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <img class="small-card-img" src="assets/images/praia.jpg" alt="Praia da Póvoa de Varzim" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Praia da Póvoa de Varzim</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Com um extenso areal dourado e águas do Atlântico,
           oferece excelentes condições para banhos, caminhadas à beira-mar e momentos de lazer.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <img class="small-card-img" src="assets/images/parquedacidade.jpg" alt="Parque da Cidade" />
  <ion-card>
    <ion-card-header>
      <ion-card-title>Parque da Cidade</ion-card-title> 
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Com uma área de cerca de 90 hectares, o parque oferece trilhos pedonais, zonas relvadas, lagos, parques infantis e áreas desportivas.
           É muito frequentado por famílias, desportistas e quem procura um ambiente tranquilo longe da confusão urbana.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<style>

  .padding-do-texto {
    margin: 200px 20px 0 20px;
  }


  .card-customizado {
    height: 90px; 
  }

  .texto-customizado {
    color: black;
    font-size: 16px;
  }

  
  .header-centralizado {
    text-align: center; 
  }

  
  .small-card-img {
    height: 180px; 
    object-fit: cover;
    object-position: center top; 
    width: 100%;
    border-radius: 10px;
    justify-content: center;
  }

  
  .titulo {
    color: #1e3a5f;
    font-size: 24px; 
    margin-top: 2px;
  }
</style>