<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Informação Útil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list class="lista-custom">
        <ion-item>
          <ion-label class="texto-customizado">- A Póvoa de Varzim tem o começo da linha B do Metro do Porto, o que torna o acesso ao Porto mais barato e fácil.</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="texto-customizado">- A Póvoa tem raízes antigas, com forte ligação ao mar desde o século XI. A comunidade piscatória moldou grande parte da identidade local.</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label class="texto-customizado">- A cidade é atravessada por uma rota histórica de peregrinação, sendo ponto de passagem para muitos peregrinos rumo a Santiago de Compostela.</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-label class="texto-customizado">- Para mim, a bandeira da Póvoa de Varzim é a mais gira. Aqui está ela:</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <img src="assets/images/bandeira.jpg" alt="Bandeira da Póvoa de Varzim" class="bandeira" />
</ion-content>

<style>
  .titulo {
    color: #1e3a5f;
    font-size: 24px;
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
  }

  ion-content {
    --background: url('/assets/images/bg2.jpeg') no-repeat center center fixed;
    --background-size: cover;
    color: #333;
    position: relative;
  }

  ion-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.3;
    z-index: -1;
  }

  ion-card {
    margin: 16px;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
  }

  ion-card-content {
    background: transparent;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    --padding-top: 4px;
    --padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
  }

  ion-card-title {
    color: #005b8c;
    font-size: 20px;
  }

  .lista-custom {
    text-decoration: solid;
    font-style: bold;
  }

  ion-card-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-list.lista-custom {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ion-item {
    --padding-top: 4px;
    --padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .bandeira {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .texto-customizado {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
</style>